<body>    
    <div class="cont1">
        <div class="row">
            <span class="text1">Welcome!</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 im">
                <img [src]="myimage" alt="home login image">
            </div> 
        </div>
        <div class="row ">
            <div class="col-sm-12 wrap">
                <button (click)="adminLogin()" class="button mt-4">Login as Admin</button> &nbsp; &nbsp;
                <button (click)="userLogin()" class="button mt-4">Login as User</button> 
            </div>
        </div>    
    </div>
    
</body>