<body>

        <div class="cont1">
            <div class="row">
                <span class="text1">Welcome to User Login</span>
            </div>
        </div>
    
              <div class="full-screen-container">
                <div class="login-container">
                <div class="input-group">
                  <label for="email">Email</label>
                  <input type="text" placeholder="Enter your Email"[(ngModel)]="email" class="form-control">
                  <label for="pass">Password</label>
                  <input type="password"placeholder="Enter your Password"[(ngModel)]="password"class="form-control">      
                  <button type="submit" (click)="userAuth()" class="btn-lg btn-danger mt-5">Login</button>  
                </div> 
                <h1>Sign up? <span><a class="navbar-brand" href="../userRegister">Click here to Create an account</a></span></h1>  
              </div> 
              </div> 

 
    
  
</body>
